.logo,
.menu,
.profile {
    display: inherit;
    justify-content: space-around;
    align-items: center;
}

.logo {
    flex-grow: 1;
    img {
        height: 64px;
    }
}

.menu {
    flex-grow: 3; // menu__notification
    &__notifications {
        display: inherit;
        align-items: inherit;
        .current_notification {
            &::after {
                content: '|';
                padding: 0 15px 0 15px;
            }
        } // Icons
        &>.fa-layers {
            cursor: pointer;
            margin: 0 5px 0 5px;
            &:hover>svg path {
                color: $primary_text_dark_hover;
            } // & > span - Counters
        }
    } // menu__search
    &__search {
        .search__button,
        .search__input {
            padding: 13px;
            border-radius: 30px;
            font-weight: bold;
        }
        .search__input {
            background-color: $primary_dark;
            border: 2px solid rgba($primary, 0.5);
            color: $primary_text_dark;
            padding-right: 150px;
        }
        .search__button {
            transition: background 177ms linear;
            background-color: rgba(0, 0, 0, 0);
            border: 2px solid $search_border;
            &:hover {
                background-color: $primary_dark;
            }
        }
    }
}

.profile {
    flex-grow: 1;
}