#main__content {
    grid-area: main;
    display: grid;
    padding: 25px 50px 25px 50px;
    grid-template-areas: "title_news title_timeline" "news timeline";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.1fr 1fr;
    grid-gap: 15px;
    .title__news {
        grid-area: title_news;
        svg {
            color: palevioletred;
        }
    }
    .title__timeline {
        grid-area: title_timeline;
        svg {
            color: yellow;
        }
    }
    .title__news, .title__timeline {
        display: flex;
        align-items: center;
        p {
            padding-left: 10px;
        }
    }
}