// ------------ PAYPAL ------------
.paypal-plate {
  display: flex;

  // ------------ LEFT CONTAINER ------------
  .container__details {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  // ------------ COLORS ------------
  .paypal--color-blue {
    color: $paypal;
  }
  .paypal--color-card {
    color: $primary-green;
  }
}
