@mixin item__btn($color, $pressed_background, $btn_name: "") {
  .item__btn#{$btn_name} {
    background: transparent;
    text-transform: uppercase;
    border: 1px solid $color;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.1rem;
    color: $color;
    outline: none;
    will-change: transition;
    transition: background-color 300ms, color 300ms;

    &:hover {
      background: $color;
      color: $primary-text;
    }

    &:active {
      background: $pressed_background;
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3) inset;
      color: $primary-text;
    }
  }
}