.main {
  transition: transform 330ms ease-in-out;


  // ------------ FEED SECTION ------------
  .feed {
    margin: 20px;
  }

  // ------------ FEED ACTIONS ------------
  .feed__actions {
    margin: 20px;
    min-width: 320px;
    background: #000;
    // transition: transform 330ms ease-in-out;

    @include below_size("1024px") {
      position: absolute;
      top: 80px;
      transform: translateX(-150%);
    }

    @include above_size("1024px") {
      width: 100%;
    }
  }

  .feed__actions--visible {
    transform: translateX(0);
  }

  @include above_size("1024px") {
    display: flex;
  }
}
