@import "../../scss/colors";
@import "../../scss/mixins";

.plate {
  min-width: 320px;
  @include queries("desktopFull") {
    width: 650px;
  }

  .plate__brand {
    align-items: center;
    display: flex;
    padding-left: 15px;
    position: relative;
    top: 14px;
  }

  .plate__title {
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 30px;
  }

  .plate__container {
    background: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%232c34e7' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E"),
      rgba(0, 0, 0, 1);
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 25px 20px;

    .wrap {
      align-content: space-between;
    }
  }

  .flex {
    display: flex;
  }
}
