.authenticate {
  background: $background_fallback;
  .tab {
    display: none;
  }

  input[type="radio"] {
    display: none;
  }

  label {
    cursor: pointer;
  }

  #register:checked ~ .container .register__tab,
  #login:checked ~ .container .login__tab {
    display: block;
  }
}
