// Primary Colors
$primary: rgba(85, 69, 139, 1);
$primary_dark: rgba(43, 42, 73, 1);
$primary_accent: rgba(120, 115, 165, 1);
$primary_text: rgba(185, 183, 197, 1);
$primary_text_dark: rgba(88, 85, 125, 1);
$primary_text_dark_hover: rgba(120, 114, 163, 1);

// Header
$header_border: rgba(42, 41, 69, 1);
$search_border: rgba(115, 152, 254, 1);
