.news {
    article {
        margin: 0 0 25px 0;
        padding: 10px;
        min-height: 30%;
        
        .info, .content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                margin: 0;
            }
        }

        
        .content {
            flex: 2;
            color: $primary_accent;
            font-weight: normal;
            img {
                margin-right: 10px;
            }
        }
        
        .info {
            flex: 1;
            p {
                color: $primary_text_dark_hover;
            }

            a {
                color: rgb(87,108,182);
                text-decoration: none;
                align-self: end;
                padding: 0 15px 5px 0;
            }
        }
    }
}