.timeline {
    grid-area: timeline;
    article {
        .content,
        .actions {
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .content {
            img {
                // flex-grow: 1;
                margin: 0 20px 0 10px;
            }
            input {
                flex-grow: 2;
                border: none;
                background: none;
            }
            button {
                border-radius: 100%;
                background: rgba($primary, 0.3);
                border: 1px solid rgba($primary, 0.3);
                padding: 8px;
                margin: 7px;
            }
        }
        .actions {
            background: rgba($primary, 0.3);
            input, label {
                flex-grow: 1;
            }
            select {
                flex-grow: 3;
                border-radius: 25px;
                border: 1px solid $primary_accent;
                padding: 8px;
                background: none;
            }
            .location {
                flex-grow: 0.5;
                background: none;
                border: none;
            }
            .send {
                border: 1px solid #7B9FFB;
                color: white;
                border-radius: 100%;
                padding: 8px;
                margin: 0 10px 0 50px;
                background: #7B9FFB;
            }
        }
    }
}