@import "../../scss/colors";

.paypal-plate {
  display: flex;
  .details {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .color-blue {
    color: $paypal;
  }
  .color-card {
    color: $primary-green;
  }
}
