header {
    background-color: $primary;
    grid-area: header;
    display: flex;
    
    flex-wrap: wrap;

    .logo,
    .menu,
    .profile {
        display: inherit;
        justify-content: space-around;
        align-items: center;
    }
    @import "./logo";
    @import "./menu";
    @import "./profile";
}