@import "../../scss/colors";
@import "../../scss/mixins";

.title {
  text-transform: capitalize;
  color: $second-text;
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-style: oblique;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-size: 0.75rem;
  padding-bottom: 1px;

  @media screen and (max-width: 480px) {
    font-size: 0.55rem;
  }
}
.value {
  font-weight: 500;
  padding-bottom: 20px;
  @media screen and (max-width: 480px) {
    font-size: 0.7rem;
  }
}
.last {
  padding-bottom: 0;
}
.no-capitalize {
  text-transform: none;
}