$logo-flex: 1;
$menu-flex: 3;
$profile-flex: 1;

header {
    grid-area: header;
    background-color: $header_primary;
    display: flex;

    .logo {
        flex: $logo-flex;
        img {
            height: 54px;
        }
    }

    .menu {
        flex: $menu-flex;
        
        .search {

            #search__input {
                background: $primary_dark;
                border: 1px solid $primary;
                border-radius: 10px;
                padding: 7px;
                width: 350px;
                overflow: hidden;
            }

            .search__button {
                border: 1px solid $search_border;
                border-radius: 15px;
                padding: 7px 20px 7px 20px;
                font-weight: bold;
                background: none;
                overflow: hidden;
                color: inherit;

                &:hover {
                    background: $primary_dark;
                    // border-color: 
                }
            }
        }

        .notifications {

            .notifications__addContact::after {
                content: '';
                margin: 15px;
                border: 1px solid;
            }
            
            // Icons are converted to SVG from <i>
            // i:hover does not work so we need use svg:hover
            svg:hover {
                color: $primary_accent;
            }
        }
    }

    .profile {
        flex: $profile-flex;
        // grid-area: header_profile;
        // align-items: center;
        // justify-content: space-around;
        
    }
}