#leftSidebar {
    grid-area: left_sidebar;
    background-color: $primary_dark;
    padding: 10px;
    // display: flex;
    // justify-content: center;

    .profile {
        #profile__checkbox {
            display: none;

            &:checked ~ label {
                svg {
                    transform: rotate(180deg);
                }
            }
        }

        label {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .profile__content {
            // display: flex;
            
            a, a:visited, a:hover, a:active {
                text-decoration: none;
                color: inherit;
                display: flex;
                // align-self: space-around;
                
            }
        }
    }
}