// ------------ FACEBOOK ------------
.facebook-plate {
  .container {
    display: flex;

    // ------------ LEFT SECTION ------------
    .container__details {
      flex: 2;
    }

    // ------------ RIGHT SECTION ------------
    .container__other {
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      // ------------ NOTIFICATIONS ------------
      .notifications {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: flex-end;
        justify-content: space-between;
      }
    }
  }

  // ------------ COLORS ------------
  .facebook--color-blue {
    color: $facebook;
  }

  .facebook--color-green {
    color: $primary-green;
  }
}
