// ------------ FEED ------------
.feed {
  margin: 20px;

  // ------------ RESET H3, P ------------
  h3,
  p {
    margin: 0;
    padding: 0;
  }

  // ------------ PLATE SECTION ------------
  .plate {
    min-width: 320px;

    @media screen and (min-width: 1024px) {
      width: 600px;
    }

    // ------------ PLATE ------------
    .plate__brand {
      display: flex;
      align-items: center;
      position: relative;
      top: 14px;
      padding-left: 15px;
      .plate__title {
        font-size: 1.2rem;
        font-weight: bold;
        padding-left: 30px;
      }
    }

    // ------------ CONTAINER SECTION ------------
    .plate__container {
      background: radial-gradient(circle, #141c3e 30%, #1a1d23 150%);
      padding: 25px 15px;
      border-radius: 10px;
      box-shadow: 1px 1px 5px #000;
      flex-wrap: wrap;


      .container {
        flex-wrap: wrap;
      }

      // ------------ ITEM  ------------
      .item__title {
        font-family: "Roboto Medium", "Arial", sans-serif;
        font-style: oblique;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
        font-size: 0.75rem;
        color: $second-text;
        padding-bottom: 1px;

        @media screen and (max-width: 480px) {
          font-size: 0.55rem;
        }
      }

      .item__value {
        @media screen and (max-width: 480px) {
          font-size: 0.7rem;
        }
        font-weight: 500;
        padding-bottom: 20px;
      }
      .item__value--last {
        padding-bottom: 0;
      }
    }
  }
}

@mixin grid_center_column_380 {
  @media only screen and (max-width: 380px) {
    flex-direction: column;
    align-items: center;
  }
}