$primary-text: #F5F7FA;
$primary-border: #374355;
$primary-green: #59B369;
$second-text: #777677;

$background_fallback: #2B2C34;
$background: url('assets/img/background_bridge.jpg');
$background_mobile: url('assets/img/background_mobile.webp');
$background_mobile_fallback: #2B2C34;
$plate-background: #1d1d1d;

$spotify: #03BD5B;
$spotify-button-pressed: #03A750;

$digital_ocean: #0080FF;
$digital_ocean-button-pressed: #0072BC;

$paypal: #0D96D9;
$paypal-button-pressed-green: #03A750;
$paypal-button-pressed-red: #B92D50;
$paypal-green: #03BD5B;
$paypal-red: #D2335B;

$input_background: #374355;
$input_border: #53657D;
$input_border_success: #03BD5B;
$input_border_error: #D1335B;