.header {
  align-items: center;
  display: flex;
  font-family: "Roboto Black", sans-serif;
  height: 80px;
  justify-content: space-between;
  min-width: 360px;

  .logo {
    color: $primary-text;
    margin-left: 20px;
    min-width: 120px;

    @include queries("tabletMax") {
      display: none;
    }
  }

  .user {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
    @include queries("mobileMax") {
      justify-content: center;
    }
    @include queries("tabletMin") {
      margin-right: 20px;
    }

    .user__name {
      margin-right: 10px;
    }

    .user__avatar {
      width: 67px;
      height: 67px;
    }
  }

  .search {
    //display: flex;
    //justify-content: space-between;
    background: #20262e;
    border-radius: 7px;
    border: 1px solid #374355;
    box-shadow: 0 1px 3px #374355;
    flex: 1;
    font-size: 0.8rem;
    height: 40px;
    margin-left: 20px;
    padding: 0 10px;
    z-index: 15;

    .search__actions {
      align-items: center;
      display: flex;
      flex: 1;
      height: 100%;
      justify-content: space-around;
    }

    .search__input {
      background: transparent;
      border: none;
      width: 100%;
      height: 100%;
    }

    .search__result {
      background: #1e1e24;
      border-bottom: 2px solid $primary-green;
      border-radius: 5px;
      color: #777677;
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
      visibility: hidden;
      opacity: 0;
      position: relative;
      top: 5px;
      will-change: opacity;
    }

    .search__item {
      align-items: center;
      display: flex;
      flex: 1;
      padding: 10px 0;
    }

    .search__icon {
      width: 20px;
    }

    .search__name {
      color: #777677;
      padding: 0 20px;
    }
  }
}
