.input {
  border: 1px solid $input_border;
  background: $input_background;
  border-radius: 5px;
  padding: 5px;
}

.input--success {
  border-color: $input_border_success;
}

.input--error {
  border-color: $input_border_error;
}