.spotify-plate {
  display: flex;
  justify-content: space-between;
  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .color {
    color: $spotify;
  }
}
